---
import PrimaryLayout from "@/layouts/PrimaryLayout.astro";

const basic = [
  { title: "Array", link: "/tuto/basic/tuto-array" },
  { title: "Effect", link: "/tuto/basic/tuto-effect" },
  { title: "Await", link: "/tuto/basic/tuto-await" },
  { title: "Event DOM", link: "/tuto/basic/tuto-event-dom" },
  { title: "Event Component", link: "/tuto/basic/tuto-event-component" },
  { title: "Bubbling", link: "/tuto/basic/tuto-bubbling" },
  { title: "Bind", link: "/tuto/basic/tuto-bind" },
  { title: "Select single", link: "/tuto/basic/tuto-select-single" },
  { title: "Select multiple", link: "/tuto/basic/tuto-select-multi" },
  { title: "Text area", link: "/tuto/basic/tuto-text-area" },
  { title: "Class CSS", link: "/tuto/basic/tuto-class" },
  { title: "Trap focus (tab)", link: "/tuto/basic/tuto-focus-trap" },
  { title: "Tooltip", link: "/tuto/basic/tuto-tooltip" },
  { title: "Transition Svelte", link: "/tuto/basic/tuto-transition-builtin" },
  { title: "Transition CSS", link: "/tuto/basic/tuto-transition-css" },
  { title: "Transition JS", link: "/tuto/basic/tuto-transition-js" },
  { title: "Transition Events", link: "/tuto/basic/tuto-transition-events" },
  { title: "Transition Global", link: "/tuto/basic/tuto-transition-global" },
  {
    title: "Transition KeyBlocks",
    link: "/tuto/basic/tuto-transition-keyblocks",
  },
];
const advanced = [
  { title: "Raw state", link: "/tuto/advanced/tuto-raw-state" },
  { title: "Reactive classes", link: "/tuto/advanced/tuto-reactive-classes" },
  { title: "SvelteDate", link: "/tuto/advanced/tuto-svelte-date" },
  { title: "Store", link: "/tuto/advanced/tuto-store" },
  { title: "Snippets rendering", link: "/tuto/advanced/tuto-snippet-render" },
  { title: "Snippets children", link: "/tuto/advanced/tuto-snippet-children" },
  { title: "Snippets implicite", link: "/tuto/advanced/tuto-snippet-implicit" },
  { title: "Tween", link: "/tuto/advanced/tuto-tween" },
  { title: "Spring", link: "/tuto/advanced/tuto-spring" },
  { title: "Binding content", link: "/tuto/advanced/tuto-binding-content" },
  { title: "Binding each", link: "/tuto/advanced/tuto-binding-each" },
  { title: "Binding media", link: "/tuto/advanced/tuto-binding-media" },
  { title: "Binding resize", link: "/tuto/advanced/tuto-binding-resize" },
  { title: "Binding this", link: "/tuto/advanced/tuto-binding-this" },
  { title: "Binding component", link: "/tuto/advanced/tuto-binding-component" },
  {
    title: "Binding component instance",
    link: "/tuto/advanced/tuto-binding-component-instance",
  },
  {
    title: "Transition déférée",
    link: "/tuto/advanced/tuto-transition-deferred",
  },
  {
    title: "Transition Animation",
    link: "/tuto/advanced/tuto-transition-animation",
  },
  { title: "Context API", link: "/tuto/advanced/tuto-context-api" },
];
const special = [
  {
    title: "Svelte window keydown",
    link: "/tuto/special/tuto-svelte-window-keydown",
  },
  {
    title: "Svelte window binding",
    link: "/tuto/special/tuto-svelte-window-binding",
  },
  { title: "Svelte document", link: "/tuto/special/tuto-svelte-document" },
  { title: "Svelte body", link: "/tuto/special/tuto-svelte-body" },
  { title: "Svelte head", link: "/tuto/special/tuto-svelte-head" },
  { title: "Svelte element", link: "/tuto/special/tuto-svelte-element" },
  { title: "Svelte boundary", link: "/tuto/special/tuto-svelte-boundary" },
  { title: "Share const", link: "/tuto/special/tuto-share-const" },
  { title: "Share export", link: "/tuto/special/tuto-share-export" },
];
---

<PrimaryLayout>
  <div
    class="place-self-center grid grid-cols-3 grid-rows-[auto,1fr] mx-auto -mt-4 p-4 max-w-3xl"
  >
    <h1 class="col-span-3">Liste des tutoriels</h1>
    <div class="col-start-1 row-start-2">
      <h2>Basique</h2>
      <ul class="space-y-2 list-disc list-inside">
        {
          basic.map(({ title, link }) => (
            <li>
              <a href={link} class="text-green-500 hover:underline">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="col-start-2 row-start-2">
      <h2>Avancé</h2>
      <ul class="space-y-2 list-disc list-inside">
        {
          advanced.map(({ title, link }) => (
            <li>
              <a href={link} class="text-orange-500 hover:underline">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="col-start-3 row-start-2">
      <h2>Spécial</h2>
      <ul class="space-y-2 list-disc list-inside">
        {
          special.map(({ title, link }) => (
            <li>
              <a href={link} class="text-red-500 hover:underline">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</PrimaryLayout>
